@import "./src/assets/css/variables.scss";

#search-bar-component {
  .btn {
    background-color: transparent;
    border: none;
    color: white;
    height: 50px;
  }
  input {
    color: white;
    box-shadow: none;
    font-size: 20px;
    height: 50px;
    width: 100%;
    &:focus{
      background-color: transparent;
    }
  }
  .input::placeholder {
    color: white;
    vertical-align: -6px;
  }
  input:-ms-input-placeholder {
    color: white;
  }
  input::-ms-input-placeholder {
    color: white;
  }
  .icon {
    color: white;
    font-size: 40px;
  }
  .icon-close {
    color: white;
    font-size: 20px !important;
  }
  .size-field {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .icon {
    font-size: 25px !important;
  }
}