@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./src/assets/css/variables.scss";
@import './node_modules/materialize-css/dist/css/materialize';


body {
  margin: 0;
  padding: 0;
  background-color: rgb(235, 234, 213);
  color: $textColor;
}

.main {
  min-height: calc(100vh);
}

* {
  font-family: $familyPrimary;
  font-size: 18px;
}

.is-loading-custom {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.srv-validation-message {
  color: red;
  font-size: 13px;
  text-align: left;
}