@import "./src/assets/css/variables.scss";

#login-view {
  padding: 150px;
  text-align: center;
  
  .logo {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #login-view {
    padding: 30px;
  }
}