@import "./src/assets/css/variables.scss";

#home-view {
  a {
    cursor: pointer;
  }
  .cidade {
    color: #8d8c8c;
    font-size: 18px;
    text-align: left;
  }
  .negocio {
    color: #8d8c8c;
    font-size: 24px;
    text-align: left;
  }
  .nome-empresa {
    color: #1a0e49 !important;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
  }
  .search-false {
    padding: 150px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #home-view {
    .search-false {
      padding: 30px;
    }
  }
}