@import "./src/assets/css/variables.scss";

header {
  nav {
    background-image: linear-gradient(180deg, $pink, #a7174b);
    height: 80px !important;
    padding: 10px;
  }
  .icon {
    color: white;
    font-size: 40px;
  }
  .search {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  img {
    margin: 0 auto;
    max-width: 120px;
  }
  .icon {
    font-size: 35px;
  }
}