@import "./src/assets/css/variables.scss";

#result-view {
  .descricao {
    color: #8d8c8c;
    font-family: $familySecond;
    font-size: 24px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  #home-view {
    .search-false {
      padding: 30px;
    }
  }
}